* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  padding: 1.6rem 0rem 2.5rem 0rem;
}

.alert-copy {
  position: absolute;
  top: 15px;
  left: calc(50% - 50px);
  max-width: 130px;
  background: rgba(42, 42, 42, 0.8);
  backdrop-filter: blur(2.5px);
  font-family: monospace;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  border: 2px solid #f1356d;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 0.7rem 0.9rem;
  margin: 0 auto;
  transform: translateY(-100px);
  transition: transform, opacity 0.3s ease;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}
h1 span {
  color: #f1356d;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}
.container .box-background {
  width: 100%;
  margin: 1.8rem auto 1rem auto;
  border-radius: 6px 6px 0px 0px;
  padding: 3rem;
  overflow: hidden;
}
.container .box-background div {
  width: 75%;
  max-width: 200px;
  height: 110px;
  background: #f1356d;
  margin: 0 auto;
  border-radius: 4px;
  display: grid;
  place-content: center;
}
.box-shadow #code-box-shadow {
  font-family: monospace;
  font-size: 0.75rem;
  width: 90%;
  margin: 0 auto;
  padding: 0.4rem;
  background: #2a2a2a20;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s ease;
}
.box-shadow #code-box-shadow:hover {
  background: #2a2a2a50;
}
.box-shadow #code-box-shadow:active {
  transform: scale(0.95);
}

.inputs-backgrounds {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  border-radius: 6px;
}
.inputs-backgrounds input[type="color"] {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.inputs-backgrounds .inputs label {
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}
.inputs-backgrounds label {
  margin: 0.8rem 0;
  font-weight: 400;
  text-transform: capitalize;
}

.inputs .input {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  transition: 0.3s;
}
.inputs .input:last-child {
  border-bottom: none;
}
.inputs .input:nth-child(5) {
  padding: 1.832rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs .input .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
.inputs .input .text label {
  font-size: 0.89rem;
  font-weight: 400;
}
.inputs .input .text p {
  font-family: monospace;
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  font-weight: 00;
  background-color: #2a2a2a;
  border-radius: 6px;
  color: #fff;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

input[type="range"] {
  -webkit-appearance: none;
  width: 85%;
  border-radius: 10px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2a2a2a;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #d7124d;
  border-bottom: 2px solid #d7124d;
  height: 18px;
  width: 25px;
  border-radius: 6px;
  background: #f1356d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  transition: transform 0.1s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.08);
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(241, 53, 109, 0.5);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  border-radius: 25px;
}
